* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

nav {
  height: 60px;
  background-color: #fff;
}

main {
  background-color: rgb(250, 250, 250);
}

.contenedor {
  display: grid;
  grid-template-columns: 293px 293px 293px;
  /* grid-template-rows: repeat(11, 293px); */
  grid-gap: 28px;

  max-width: 963px;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 28px;
}

.post {
  background-color: coral;

  width: 100%;
}

.post:nth-of-type(2) {
  background-color: black;

  /* grid-column-start: 2;
  grid-column-end: 4; */
  /* grid-column: 2 / span 2; */
  grid-column: 2 / 4;

  /* grid-row-start: 1;
  grid-row-end: 3; */
  /* grid-row: 1 / span 2; */
  grid-row: 1 / 3;
}

.post img {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
}
