* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

nav {
  height: 60px;
  max-width: 963px;

  margin-left: auto;
  margin-right: auto;

  background-color: #fff;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}

nav ul li img {
  width: 22px;
  height: 22px;

  object-fit: cover;

  border-radius: 50%;
}

nav input {
  padding: 6px;

  text-align: center;

  width: 215px;

  border: 1px solid #c7c7c7;
  background-color: rgb(250, 250, 250);

  border-radius: 4px;

  outline: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
}

.nav-column {
  width: 260px;
}

.logo {
  width: 103px;
}

main {
  padding-top: 30px;

  border-top: 1px solid #c7c7c7;
  background-color: rgb(250, 250, 250);
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(3, auto);
  /* grid-template-rows: repeat(5, 293px); */
  grid-gap: 28px;

  max-width: 963px;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 28px;
}

.post {
  background-color: coral;

  width: 100%;
}

.post:nth-of-type(2) {
  background-color: black;

  /* grid-column-start: 2;
  grid-column-end: 4; */
  /* grid-column: 2 / span 2; */
  grid-column: 2 / 4;

  /* grid-row-start: 1;
  grid-row-end: 3; */
  /* grid-row: 1 / span 2; */
  grid-row: 1 / 3;
}

.post img {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;

  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 600px) {
  .contenedor {
    grid-gap: 3px;
  }

  nav input {
    display: none;
  }
}
